body{
	background-color: black;
	color: white;
	text-align: center;
}

#Bio{
	text-align: center;
}

.bold{
	font-weight: bold;
}

.tilt{
	font-style: italic;
}

.green{
	color: green;
}

h4{
	color: blue;
}

#end{
	border: thick;
	border-color: white;
	width: 25%;
	margin: 0 auto;
}