body{
	background-color: black;
	color: white;
	text-align: center;
}

#Bio{
	border: dashed;
	text-align: center;
	border-color: white;
}

.bold{
	font-weight: bold;
}

.tilt{
	font-style: italic;
}

.green{
	color: green;
}

h4{
	color: blue;
}

#end{
	border: thick;
	border-color: white;
}