body{
	text-align: center;
	color: white;
	background: url("fun_image_01.jpg");
	background-size: cover;
}

#below_pic{
	background-color: grey;
	width: 38%;
	margin: 0 auto;
}

#Bioo{
	margin-left: ;
	font-size: 300%;
}=