body{
	padding-top: 70px;
	text-align: center;
	color: white;
	background: url("Spring Break 7.jpg");
	background-size: cover;
}

#below_pic{
	width: 38%;
	margin: 0 auto;
}

#Bioo{
	margin: 0 auto;
	font-size: 300%;
	border: dashed;
	border-color: white;
	width: 30%;
}

@media screen and (min-width:701px){
img {
    max-width: 20%;
		height: auto;
}
}

.well {
   background-color: rgba(245, 245, 245, 0.4);
}

@media screen and (max-width: 700px) and (min-width:0px){

		img {
				max-width: 40%;
				height: auto;
		}
}

.small{
	color: white;
}

h5{
	position: fixed;
	bottom: 0;
}
