body{
	text-align: center;
	color: white;
	background: url("fun_image_01.jpg");
	background-size: cover;
}

#below_pic{
	background-color: grey;
	width: 38%;
	margin: 0 auto;
}

#Bioo{
	margin: 0 auto;
	font-size: 300%;
	border: dashed;
	border-color: white;
	width: 30%;
}