body{
	text-align: center;
	color: white;
	background: url("Spring Break 7.jpg");
	background-size: cover;
}

#below_pic{

	/*Got rid of border.
	border-color: grey;
	border-style: groove; */
	width: 38%;
	margin: 0 auto;
}

#Bioo{
	margin: 0 auto;
	font-size: 300%;
	border: dashed;
	border-color: white;
	width: 30%;
}

img {
    /*max-width: 20%;
    height: auto;*/
		max-height: 20%;
		width: auto;
}

.whiter{
	color: white;
}
